<div class="row my-4 text-center align-items-center">
  <div class="col">
    <p class="h1">Welcome to my page!</p>
    <p class="h5">Bem vindos a minha página!</p>
  </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4 col-lg-3 align-self-center">
      <img class="img-thumbnail rounded-circle" src="assets/images/profilepic.jpeg" alt="Induction Ceremony Picture">
    </div> 
    <div class="col-sm-6 col-lg-5 align-self-center">
      <p class="lead">My name is Franklin Neves Filho</p>
      <p class="lead"> I'm currently a junior at <span style="font-weight: bolder;">FIU</span> studying Computer Science</p>
    </div>
    <div class="col-md-6 col-lg-5 align-self-center">
      <p class="lead">I graduated from Ronald Reagan Senior Highschool in 2021</p>
      <p class="ms-5 text-muted">Top 20% in my class!</p>
      <p class="lead">Earning:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Highschool degree</li>
        <li class="list-group-item">AICE Diploma</li>
        <li class="list-group-item">Associates Degree in Computer Science</li>
        <li class="list-group-item"></li>
      </ul>
    </div>
    <div class="col-md-4 col-lg-3 align-self-center">
      <img class="img-thumbnail rounded-cirlce" src="assets/images/gradPic.jpeg" alt="">
    </div>
</div>