<div class="container text-center">
    <h1>Contact Me</h1>
    <form target="_blank" action="https://formsubmit.co/ff9a9b9bac96a4c062c66b0de689fa64" method="POST">
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <input type="text" name="name" class="form-control" placeholder="Full Name" required>
          </div>
          <div class="col">
            <input type="email" name="email" class="form-control" placeholder="Email Address" required>
            <input type="hidden" name="_next" value="https://franklinnevesfilho.tech/contact/thank-you">
            <input type="hidden" name="_captcha" value="false">
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea placeholder="Please type in ypur message here" class="form-control" name="message" rows="10" required></textarea>
      </div>
      <button type="submit" class="btn btn-lg btn-outline-dark btn-block mt-2">Submit Form</button>
    </form>
  </div>