<form class="m-5 text-center" target="_blank" action="https://formsubmit.co/ff9a9b9bac96a4c062c66b0de689fa64" method="POST">
  <p class="h1">Send An Email Below</p>
  <div class="form-group">
    <input id="fullName" name="name" type="text" class="form-control" placeholder="Full Name" required>
  </div>
  <div class="form-group">
    <input id="userEmail" name="email" type="text" class="form-control" placeholder="email" class="form-control" placeholder="Email Address" required>
  </div>
  <div class="form-control">
    <textarea id="comment" name="message" cols="30" rows="10" class="form-control" placeholder="Type in email here"></textarea>
  </div>
  <input type="hidden" name="_captcha" value="false">
  <input type="hidden" name="_template" box>
  <input type="hidden" name="_next" value="https://franklinnevesfilho.tech/thank-you">
  <button type="submit" class="btn btn-lg btn-outline-dark">Submit</button>
</form>
<div class="row text-center">
  <div class="col-6">
    <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/franklinnevesfilho" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin fa-xl me-1"></i>linkedin/franklinnevesfilho</a>
  </div>
  <div class="col-6">
    <button class="btn btn-outline-dark" target="_blank" (click)="copyEmail()"><i class="fa-solid fa-envelope fa-xl me-1"></i>franklin.neves.filho@gmail.com</button>
  </div>
</div>