<div class="row align-items-center">
    <p class="h1 text-center">Creating This Webpage...</p>
    <hr>
    <div class="row">
        <div class="col col-sm-6">
            <p class="lead">I started this webpage completely blind.</p>
            <p class="lead">Learning about webhosting, and what it means starting a website from scratch</p>
            <p class="lead">I dedicated a week to learn the mere basics of web development, starting with these three videos</p>
        </div>
        <div class="col col-sm-2">
            <div class="card" style="width: 15rem;">
                <iframe src="https://www.youtube.com/embed/HD13eq_Pmp8" class="card-img-top" alt="HTML course"></iframe>
                <div class="card-body">
                  <p class="card-text">HTML starter course</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-2">    
            <div class="card" style="width: 15rem;">
                <iframe src="https://www.youtube.com/embed/wRNinF7YQqQ" class="card-img-top" alt=""></iframe>
                <div class="card-body">
                  <p class="card-text">CSS starter course</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-2">
            <div class="card" style="width: 15rem;">
                <iframe src="https://www.youtube.com/embed/wRNinF7YQqQ" class="card-img-top" alt=""></iframe>
                <div class="card-body">
                  <p class="card-text">JS starter course</p>
                </div>
            </div>
        </div>
    </div>
        
</div>