<div class="row align-items-center">
    <p class="h1 text-center">Creating This Webpage...</p>
    <hr>
    <div class="row">
        <div class="col col-sm-6">
            <p class="lead">I started this webpage completely blind.</p>
            <p class="lead">Learning about webhosting, and what it means starting a website from scratch</p>
            <p class="lead">I dedicated a week to learn the mere basics of web development, starting with these three videos</p>
        </div>
        <div class="col col-sm-2">
            <div class="card" style="width: 15rem;">
                <iframe src="https://www.youtube.com/embed/HD13eq_Pmp8" class="card-img-top" alt="HTML course"></iframe>
                <div class="card-body">
                  <p class="card-text">HTML starter course</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-2">    
            <div class="card" style="width: 15rem;">
                <iframe src="https://www.youtube.com/embed/wRNinF7YQqQ" class="card-img-top" alt=""></iframe>
                <div class="card-body">
                  <p class="card-text">CSS starter course</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-2">
            <div class="card" style="width: 15rem;">
                <iframe src="https://www.youtube.com/embed/wRNinF7YQqQ" class="card-img-top" alt=""></iframe>
                <div class="card-body">
                  <p class="card-text">JS starter course</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center mt-3">
        <div class="col align-self-center">
            <p class="lead">Although videos and online courses are helpful, the majority of my learning came from countless hours reading the API's of all three languages</p>
        </div>
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Links to API</button>
                <div class="text-center" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a href="https://www.w3schools.com/html/default.asp" target="_blank" class="dropdown-item">HTML</a>
                  <a href="https://www.w3schools.com/css/default.asp" target="_blank" class="dropdown-item">CSS</a>
                  <a href="https://www.w3schools.com/js/default.asp" target="_blank" class="dropdown-item">JavaScript</a>
                </div>
            </div>
        </div>
    </div>
        
</div>